-- MediCare+ Final Integration Script
-- Run this in Supabase SQL Editor to fix all issues

-- 1. Create AI assessment responses table
CREATE TABLE IF NOT EXISTS public.assessment_responses (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    assessment_type TEXT NOT NULL,
    feature_id TEXT NOT NULL,
    question_id TEXT NOT NULL,
    question_text TEXT,
    response_value TEXT,
    session_id TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 2. Create AI results table
CREATE TABLE IF NOT EXISTS public.ai_results (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    feature_type TEXT NOT NULL,
    feature_id TEXT NOT NULL,
    session_id TEXT,
    ai_response TEXT,
    recommendations JSONB DEFAULT '[]',
    confidence_score DECIMAL(3,2) DEFAULT 0.85,
    analysis_data JSONB DEFAULT '{}',
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 3. Create AI chat conversations table
CREATE TABLE IF NOT EXISTS public.ai_chat_conversations (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    session_id TEXT NOT NULL,
    conversation_type TEXT DEFAULT 'health_consultation',
    user_message TEXT NOT NULL,
    ai_response TEXT,
    message_order INTEGER DEFAULT 1,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 4. Create telemedicine sessions table
CREATE TABLE IF NOT EXISTS public.telemedicine_sessions (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    patient_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    doctor_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
    session_type TEXT DEFAULT 'video_consultation',
    status TEXT DEFAULT 'scheduled',
    scheduled_at TIMESTAMPTZ NOT NULL,
    consultation_notes TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 5. Add missing columns to existing tables
DO $$
BEGIN
    -- User profiles enhancements
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'user_profiles' AND column_name = 'is_profile_complete') THEN
        ALTER TABLE public.user_profiles ADD COLUMN is_profile_complete BOOLEAN DEFAULT false;
    END IF;
    
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'user_profiles' AND column_name = 'user_type') THEN
        ALTER TABLE public.user_profiles ADD COLUMN user_type TEXT DEFAULT 'patient';
    END IF;
    
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'user_profiles' AND column_name = 'health_conditions') THEN
        ALTER TABLE public.user_profiles ADD COLUMN health_conditions JSONB DEFAULT '[]';
    END IF;

    -- Appointments enhancements
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'appointments' AND column_name = 'appointment_date') THEN
        ALTER TABLE public.appointments ADD COLUMN appointment_date DATE;
    END IF;
    
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'appointments' AND column_name = 'appointment_type') THEN
        ALTER TABLE public.appointments ADD COLUMN appointment_type TEXT DEFAULT 'in_person';
    END IF;
    
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'appointments' AND column_name = 'doctor_name') THEN
        ALTER TABLE public.appointments ADD COLUMN doctor_name TEXT;
    END IF;

    -- Chat messages enhancements (if table exists)
    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'chat_messages') THEN
        IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'chat_messages' AND column_name = 'ai_response') THEN
            ALTER TABLE public.chat_messages ADD COLUMN ai_response TEXT;
        END IF;
        
        IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'chat_messages' AND column_name = 'session_id') THEN
            ALTER TABLE public.chat_messages ADD COLUMN session_id TEXT;
        END IF;
    END IF;
END $$;

-- 6. Enable Row Level Security
ALTER TABLE public.assessment_responses ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.ai_results ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.ai_chat_conversations ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.telemedicine_sessions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.user_profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.appointments ENABLE ROW LEVEL SECURITY;

-- 7. Drop existing policies
DROP POLICY IF EXISTS "Users can manage their own assessment responses" ON public.assessment_responses;
DROP POLICY IF EXISTS "Users can manage their own AI results" ON public.ai_results;
DROP POLICY IF EXISTS "Users can manage their own chat conversations" ON public.ai_chat_conversations;
DROP POLICY IF EXISTS "Users can manage their own telemedicine sessions" ON public.telemedicine_sessions;
DROP POLICY IF EXISTS "Users can manage their own profile" ON public.user_profiles;
DROP POLICY IF EXISTS "Users can manage their own appointments" ON public.appointments;

-- 8. Create RLS policies with proper type handling
CREATE POLICY "Users can manage their own assessment responses" 
ON public.assessment_responses FOR ALL USING (auth.uid() = user_id);

CREATE POLICY "Users can manage their own AI results" 
ON public.ai_results FOR ALL USING (auth.uid() = user_id);

CREATE POLICY "Users can manage their own chat conversations" 
ON public.ai_chat_conversations FOR ALL USING (auth.uid() = user_id);

CREATE POLICY "Users can manage their own telemedicine sessions" 
ON public.telemedicine_sessions FOR ALL USING (auth.uid() = patient_id OR auth.uid() = doctor_id);

CREATE POLICY "Users can manage their own profile" 
ON public.user_profiles FOR ALL USING (
    CASE 
        WHEN user_id IS NULL THEN false
        ELSE auth.uid()::text = user_id::text
    END
);

CREATE POLICY "Users can manage their own appointments" 
ON public.appointments FOR ALL USING (
    CASE 
        WHEN user_id IS NULL THEN false
        ELSE auth.uid()::text = user_id::text
    END
);

-- 9. Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_assessment_responses_user_id ON public.assessment_responses(user_id);
CREATE INDEX IF NOT EXISTS idx_ai_results_user_id ON public.ai_results(user_id);
CREATE INDEX IF NOT EXISTS idx_ai_chat_user_id ON public.ai_chat_conversations(user_id);
CREATE INDEX IF NOT EXISTS idx_telemedicine_patient_id ON public.telemedicine_sessions(patient_id);

-- 10. Success message (NO sample data insertion to avoid foreign key errors)
SELECT 
    'MediCare+ Integration Complete! 🚀' as result,
    'All tables created with proper auth.users references' as status,
    'Ready for AI chats, assessments, telemedicine & future features' as features;
